:root {
    --primary:#2D9C6F;
    --secondary:#2F80ED;
    --darkmain:#121212;
    --dark2:#1F1F1F;
    --lightmain:#F4F8F7;
    --light2:#E0F3EC;
}

* {
    font-family: "Lato", sans-serif;

    font-style: normal;
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    justify-content: center;
    height: 120px;
}
.container {
    width:990px;
    display: flex;
    justify-content: space-around;  
    align-items: center;
}

.logo {
    display: flex;
}

.menu {
    display: flex;
    font-weight: 500;

}

nav ul, nav li {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--darkmain);
}

nav a:hover {
    background-color: var(--primary);
    color: var(--lightmain);
    box-shadow: 1px 0px 2px 0px #1F1F1F;
}

#banner {
    background-image: url('../assets/img/img1.png');
    background-position: center;
    background-size: cover;
    height: 670px;
}